.header-wrap {
  display: flex;
  flex: 1;
}
.header-wrap .header-left {
  flex: 1;
  justify-content: space-between;
}
.header-wrap .header-right {
  width: 350px;
  color: #fff;
}
.header-wrap .header-right .dropDwon {
  width: 120px;
  color: #fff !important;
}

.ant-layout-header {
  padding: 0 20px !important;
}

.logo {
  box-shadow: #2f455a 1px 0px 3px;
  width: 199px;
  height: 64px;
  line-height: 64px;
  float: left;
  color: #fff !important;
}
.logo a {
  color: #fff !important;
}
.site-layout-background {
  background: #fff;
}
