.header-wrap{
  display: flex;
  flex: 1;
}
.header-wrap .header-left{
  flex: 1;
    justify-content: space-between;
}
.header-wrap .header-right{
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    width: 300px;;
    color: #fff;
}
.header-wrap .header-right .dropDwon{
  width: 120px;;
  color: #fff !important;
}

.ant-layout-header{
  padding: 0 20px !important;
}

.logo {
    width: 151px;
    height: 31px;
    line-height: 30px;
    margin: 16px 28px 16px 0;
    float: left;
    color: #fff !important;
  }
  .logo a{
    color: #fff !important;
  }
  .site-layout-background {
    background: #fff;
  }