.ant-menu-inline {
  .ant-menu-item,
  .ant-menu-submenu-title {
    height: 50px !important;
    line-height: 50px !important;
    margin: 0 !important;
  }
}
.ant-menu-dark
  .ant-menu-submenu-open
  > .ant-menu-submenu-title
  > .ant-menu-submenu-arrow::before {
  background: #eee !important;
}
.ant-menu-dark
  .ant-menu-submenu-open
  > .ant-menu-submenu-title
  > .ant-menu-submenu-arrow::after {
  background: #eee !important;
}

.ant-menu-dark
  .ant-menu-submenu-active
  > .ant-menu-submenu-title:hover
  > .ant-menu-submenu-arrow::before {
  background: #eee !important;
}

.ant-menu-dark
  .ant-menu-submenu-active
  > .ant-menu-submenu-title:hover
  > .ant-menu-submenu-arrow::after {
  background: #eee !important;
}

.ant-menu-dark .ant-menu-submenu-title:hover,
.ant-menu-inline .ant-menu-submenu-title {
  color: #666 !important;
}

.ant-menu.ant-menu-dark
  .ant-menu-submenu-title
  .ant-menu-submenu-arrow::before {
  background: none !important;
}

.ant-menu-dark .ant-menu-submenu-active {
  background: none !important;
}

.ant-menu.ant-menu-dark .ant-menu-submenu-title .ant-menu-submenu-arrow::after {
  background: none !important;
}

.ant-menu-dark {
  .ant-menu-item {
    a {
      padding-left: 8px;
      color: #666 !important;
    }
    &.ant-menu-item-active {
      background: none !important;
      a {
        color: #1890ff !important;
      }
    }
    &.ant-menu-item-selected {
      background: none !important;
      a {
        color: #1890ff !important;
        font-weight: 600;
      }
    }
  }
  .ant-menu-submenu-open {
    .ant-menu-submenu-title {
      background: none !important;
    }
  }
  .ant-menu-inline.ant-menu-sub {
    background: none !important;
  }
}

.iconfont {
  color: #eee !important;
}

.icon-write {
  color: #52c41a !important;
}
.icon-recycle {
  color: #40a9ff !important;
}
